@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap');
@import './colors.scss';

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


body {
    color: #fff;
    background: $backgroundGray;
}

a {
    text-decoration: none;
    color: #fff;
    transition: all .2s ease;

    &:hover {
        color: darken(#fff, 20%);
    }
}

.clearfix {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

header {
    padding: 0 7%;
    background: $primary;
    border-top: 1px solid $primaryLight;
    border-bottom: 1px solid $primaryLight;
}

main {
    min-height: 100%;
    padding: 0 7%;

    #action-panel {
        margin: 20px 10px;
        padding: 10px;
        background: $primaryLight;
        border-radius: 10px;
    }

    #results-container {
        .result-element {
            background: $backgroundLightGray;
            color: #000;
            flex: 1 0 auto;
            padding: 10px;
            margin: 10px;

            .result-element__id {
                font-size: 0.6em;
                margin-bottom: 10px;
                color: $textGray;
                float: left
            }

            .result-element__awarded {
                font-style: italic;
                font-size: 0.9em;
                color: $awarded;
                font-weight: 700;
                float: right;
            }

            .result-element__grid {
                display: grid;
                grid-template-columns: min-content auto;
                grid-template-rows: 0.4fr repeat(3, 0.2fr);
            }

            .result-element__poster {
                grid-area: 1 / 1 / 5 / 2;
            }

            .result-element__title {
                grid-area: 1 / 2 / 2 / 3;
            }

            .result-element__released {
                grid-area: 2 / 2 / 3 / 3;
            }

            .result-element__runtime {
                grid-area: 3 / 2 / 4 / 3;
            }

            .result-element__rating {
                grid-area: 4 / 2 / 5 / 3;
            }

            .result-element__poster {
                max-height: 100px;
                max-width: 150px;
                margin-right: 10px;
            }

            .result-element__title {
                font-size: 1.3em;
                font-weight: 700;
            }

            .result-element__released, .result-element__runtime, .result-element__rating {
                font-weight: 700;
                margin-left: 10px;
            }

            .result-element__description {
                font-style: italic;
            }

            .result-element__attr--missing {
                color: $textGray;
                font-weight: 400;
            }
        }

        .error-element {
            color: $error;

            .error-element__heading {
                font-size: 1.1em;
                font-weight: 700;
            }
        }
    }
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: $primary;
    height: 40px;
    font-size: 0.75em;

    .footer__link {
        font-weight: 700;
        margin-left: 5px;
    }
}